<h1 aria-label="Titulo principal">Lista de contacto de clientes</h1>
<form method="GET">
    <div class="grids--modificados">
        <label for="kword" class="sr-only">Buscar el contacto de cliente</label>
        <input type="text" class="form-control" id="kword" name="kword" placeholder="Buscar el contacto de cliente...">
        <button type="submit" class="button-general primary-modificacion" aria-label="Buscar">Buscar</button>
    </div>
    <div class="buscador-ver">
        <div>
            <a href="{% url 'cliente_app:contacto-cliente' %}">Ver todos</a>
        </div>
        <div class="mayor">
            {% for letter in 'abcdefghijklmnopqrstuvwxyz' %}
            <a href="{% url 'cliente_app:contacto-cliente' %}?letter={{ letter }}">{{ letter|upper }}</a>
            {% endfor %}
        </div>
    </div>
</form>