{% extends 'base.html' %}
{% load static %}

{% block tittle %}
Pieza del prototipo
{% endblock tittle %}

{% block content %}
{% include "includes/header.html" %}
<main class="main-principal">
    <div class="grid-x">
        <div class="cell auto text-right">
            <a href="{% url 'home_app:funciones' %}" class="button-general">Atras</a>
        </div>
    </div>
    {% include 'includes/mensaje_exito.html' %}
    <div class="grid-container">
        {% include 'prototipo/piezaprototipo/include/buscador.html' %}
        <div class="grid-x">
            <a href="{% url 'prototipo_app:pieza-prototipo-add' %}" class="button-general button5">Agregar pieza prototipo</a>
            <div class="cell">
                <table>
                    <thead>
                        <tr>
                            <th width="150">PIEZA</th>
                            <th width="150">CANTIDAD</th>
                            <th width="150">ANCHO</th>
                            <th width="150">ALTO</th>
                            <th width="150">METROS</th>
                            <th width="400">ACCION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in piezaprototipo %}
                        <tr>
                            <td>{{ e.piezas }}
                                {% for nombre in e.nombre.all %}
                                <li>{{ nombre.nombre }}</li>
                                {% endfor %}
                            </td>
                            <td>{{ e.cantidad }}</td>
                            <td>{{ e.ancho }}</td>
                            <td>{{ e.alto }}</td>
                            <td>{{ e.metros }}</td>

                            <td>
                                <a href="{% url 'prototipo_app:pieza-prototipo-detalle' e.id %}"
                                    class="button-edicion button-crear">Detalle</a>
                                <a href="{% url 'prototipo_app:pieza-prototipo-modificar' e.id %}"
                                    class="button-edicion button-editar">Editar</a>
                                <a href="{% url 'prototipo_app:pieza-prototipo-borrar' e.id %}"
                                    class="button-edicion button-borrar">Borrar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include 'includes/paginated.html' %}
        </div>
    </div>
</main>
{% endblock content %}