<h1 aria-label="Titulo principal">Lista de usuarios</h1>
<form method="GET">
    <div class="grids--modificados">
        <label for="kword" class="sr-only">Buscar usuario</label>
        <input type="text" class="form-control" id="kword" name="kword" placeholder="Buscar usuario...">
        <button type="submit" class="button-general primary-modificacion" aria-label="sr-only">Buscar</button>
    </div>
    <div class="buscador-ver">
        <div>
            <a href="{% url 'usuario_app:usuario' %}">Ver todos</a>
        </div>
        <div class="mayor">
            {% for letter in 'abcdefghijklmnopqrstuvwxyz' %}
            <a href="{% url 'usuario_app:usuario' %}?letter={{ letter }}">{{ letter|upper }}</a>
            {% endfor %}
        </div>
    </div>
</form>