{% extends 'base.html' %}

{% load static %}

{% block tittle %}
Borrar Contacto proveedor
{% endblock tittle %}

{% block content %}
{% include "includes/header.html" %}
<main class="main-principal">
    <div class="grid-x">
        <div class="cell auto text-right">
            <a href="{% url 'proveedor_app:contacto-proveedor' %}" class="button-general">Atras</a>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-x centrado margen-sup">
            <h1>Borrar Contacto proveedor</h1>
            <div class="cell">
                <form class="cell grid-x grid-margin-x centrado" method="post"> {% csrf_token %}
                    <div class="callout secondary">
                        <label>
                            <h3>¿Desea eliminar el contacto proveedor? </h3>
                            <p class="input-p text__inicio">Nombre: {{ object.nombre }}</p>
                            <p class="input-p text__inicio">Telefono: {{ object.telefono }}</p>
                        </label>
                        <form action="" method="post"> {% csrf_token %}
                            <button type="submit" class="button-general button-borrar">Confirmar</button>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}